// 2024-11-25 utils.scss 에서 정의한 변수값들을 사용하여 React styling
@import './styles/utils';

.SassComponent {
  display: flex;
  // 플렉스 레이아웃 설정
  // 요소들을 수평 또는 수직 정렬 하고 자식요소는 플렉스 아이템으로 취급

  // 2024-11-27 open-color 및 include-media 패키지 설치후 작업 코드
  background-color: $oc-gray-2;

  // 2024-11-27 open-color 및 include-media 패키지 설치후 작업 코드
  @include media('<768px') {
    // 너비가 768픽셀 이하이면 작동하는 반응형 디자인
    background-color: $oc-gray-9;
  }


  .box {
    background: red;
    cursor: pointer;
    transition: all 0.3s ease-in;

    &.red {
      background: $red;
      @include square(1);
    }

    &.orange {
      background: $orange;
      @include square(2);
    }

    &.yellow {
      background: $yellow;
      @include square(3);
    }

    &.green {
      background: $green;
      @include square(4);
    }

    &.blue {
      background: $blue;
      @include square(5);
    }

    &.indigo {
      background: $indigo;
      @include square(6);
    }

    &.violet {
      background: $violet;
      @include square(7);
    }

    &:hover {
      background: #000;
    }


  }
}